/* DEFAULT HEX COLOR: #0077b8 */


/* CHANE IT BY REPLEACING THE VALUE ABOVE */

::-moz-selection {
    background: #0077b8;
    color: #333;
    text-shadow: none;
}
::selection {
    background: #0077b8;
    text-shadow: none;
    color: #333;
}
.text-colored,
h1.text-colored,
h2.text-colored,
h3.text-colored,
h4.text-colored,
h5.text-colored,
h6.text-colored,
.color-font,
.color-font a,
.widget-tweeter li a,
.widget-twitter li a,
p.text-colored,
.heading.heading-colored h1,
.heading.heading-colored h2 {
    color: #0077b8 !important;
}
.progress-bar-container.color .progress-bar {
    background-color: #0077b8;
    color: #fff;
}
.blockquote-color {
    background-color: #0077b8;
    color: #fff;
}
.blockquote-color > small {
    color: #fff;
}



.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color: #0077b8 !important;
    border: 1px solid #0077b8 !important;
}
nav .main-menu .dropdown-menu {
    border-color: #0077b8;
}

nav .main-menu .dropdown-menu.green {
    border-color: #00aa76;
}

#topbar.topbar-colored {
    background-color: #0077b8;
}

/*vertical-dot-menu */

#vertical-dot-menu a:hover .cd-dot,
#vertical-dot-menu a.active .cd-dot {
    background-color: #0077b8;
}

/*scrollspy nav */


/*.sidebar-menu ul.nav-tabs li, */

.sidebar-menu ul.nav-tabs li:hover .sidebar-menu ul.nav-tabs li a,
.sidebar-menu ul.nav-tabs li a:hover,
.sidebar-menu ul.nav-tabs li.active a,
.sidebar-menu ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0077b8;
    border: 1px solid #0077b8;
}

/*Bootstrap defaults overrides*/

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0077b8;
    border-color: #0077b8;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #fff;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #0077b8;
}
pre {
    background-color: #fcfcfc;
    border: 1px solid #ececec;
}
.alert {
    border-left-width: 10px;
    border-radius: 0;
}
/*.alert-success {
    background-color: #5cb85c;
    border-color: #53af53;
}*/
.alert-success {
  background-color: #e7e7e7!important;
  border-color: #53af53!important;
  color: #444!important;
}
.alert-info {
    background-color: #2699c8;
    border-color: #3aaddc;
}
.alert-warning {
    background-color: #e7e7e7!important;
 color: #444!important;
    border-color: #ffcd51;
}
/*.alert-danger {
    background-color: #de4b37;
    border-color: #f3604c;
}*/


.alert-neutro {
    background-color: #e7e7e7!important;
    border-color: #7d7c7c!important;
    color: #444!important;
}

.alert-danger {
  background-color: #e7e7e7!important;
  border-color: #f3604c!important;
  color: #444!important;
}



.alert,
.alert a.alert-link {
    color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #0077b8;
    border-color: #0077b8;
    color: #fff;
}
.pagination > li > a:hover i,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #333;
}

/*navs*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #0077b8;
    color: #fff;
}

/*Typography*/

a:hover {
    color: #0077b8;
}

/*dropcat & highlight*/

.dropcap.dropcap-colored,
.dropcap.dropcap-colored a,
.highlight.highlight-colored,
.highlight.highlight-colored a {
    background-color: #0077b8;
    color: #fff;
}

/*timeline*/

.timeline.timeline-colored .timeline-circles:before,
.timeline.timeline-colored .timeline-circles:after,
.timeline.timeline-colored .timeline-date,
.timeline.timeline-colored:before {
    background-color: #0077b8;
    color: #fff;
}
.timeline.timeline-colored li .timeline-block:before {
    border-color: transparent #0077b8;
}
.timeline.timeline-colored .timeline-block-image {
    border-color: #0077b8;
}
.timeline.timeline-colored.timeline-simple .timeline-date {
    background-color: #fff;
    border: 1px solid #0077b8;
    color: #0077b8;
}

/*tabs*/

.border .tabs-navigation li.active a:after {
    background: #0077b8;
}

/*accordions*/

.breadcrumb a:hover {
    color: #0077b8;
}

/*color*/

.accordion.color .ac-item .ac-title {
    background: #0077b8;
    color: #fff;
}
.accordion.color-border-bottom .ac-item .ac-title {
    border-bottom: 1px dotted #0077b8;
}
.accordion.color-border-bottom .ac-item .ac-title:before {
    color: #0077b8;
}

/*ICONS*/

.icon-box.color .icon i {
    background: #0077b8;
    color: #fff;
}
.icon-box.color .icon i:after {
    box-shadow: 0 0 0 3px #0077b8;
}
.icon-box.border.color .icon,
.icon-box.border.color .icon i {
    color: #0077b8;
    border-color: #0077b8;
}
.icon-box.fancy.color .icon i {
    color: #0077b8;
    background-color: transparent;
}

/*FONT AWESOME ICONS*/

.fontawesome-icon-list .fa-hover a:hover {
    background-color: #0077b8;
}

/*lists icons*/

ul.icon-list li i {
    color: #0077b8;
}

/* ----------------------------------------------------------------
    Backgrounds
-----------------------------------------------------------------*/

.background-colored {
    background-color: #003282 !important;
}

.background-colored-emp {
    background-color: #003282 !important;
}

.background-colored-emp-img {
    background: url(../../images/empresa/bg-img-empresa-color.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.background-colored-emp-img-azul {
    background: url(../../images/empresa/bg-img-empresa-color-02.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.background-colored-edu {
    background-color: #00ac77 !important;
}

/* ----------------------------------------------------------------
    NPROGRESS
-----------------------------------------------------------------*/

#nanobar-progress div {
    background: #0077b8 !important;
}

/* ----------------------------------------------------------------
    PORTFOLIO
-----------------------------------------------------------------*/

.portfolio-filter li.ptf-active,
.portfolio-filter li:hover {
    background-color: #0077b8;
}
.portfolio-filter li:not(.ptf-active):hover {
    color: #0077b8;
}

/* ----------------------------------------------------------------
    HEADINGS
-----------------------------------------------------------------*/

.heading-title-border-color {
    border-color: #0077b8;
}

/* ----------------------------------------------------------------
    IMAGE BOX
-----------------------------------------------------------------*/

.image-box-links a {
    background-color: #0077b8;
}
.image-box.effect.bleron {
    background-color: #494949;
}
.image-block-content .feature-icon {
    background-color: #0077b8;
}
.image-box.effect.bleron p.image-box-links a {
    color: #0077b8;
}

/* ----------------------------------------------------------------
    SHOP PRODUCTS
-----------------------------------------------------------------*/

.product .product-wishlist a:hover {
    border-color: #0077b8;
}

/* ----------------------------------------------------------------
    Carousel
-----------------------------------------------------------------*/

.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-next,
.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-prev {
    border-color: #0077b8;
}