/* estilos de la pagina index.html */

body{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* video y titulo */
.promo{
    padding-top: 250px;
    margin-right: 70%;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}
.promo h1{
font-size: 3.5rem;
text-align: center;
color: rgb(0, 0, 0);
font-weight: 700;
}
.promo p {
font-size: 2.5rem;
/*text-align: center;*/
font-weight: 900;
color: rgb(34, 107, 170);
}

#hero{
    min-height: 100vh;
    position: relative;

}
video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
/* Estilos generales para pantallas más pequeñas */
/* Media query para pantallas más grandes y orientación horizontal */
@media screen and (min-width: 600px) and (orientation: landscape) {
body {
margin: 0 0 0 0;
}
footer{
max-width: 100%;
}
nav {
max-width:100%;
}
}

/* Otra media query para pantallas aún más grandes y resolución alta */
@media screen and (min-width: 1200px) and (min-resolution: 300dpi) {
body {
margin: 0 0 0 0;
}
}

#letratiyulo{
color: #036595;
}

.letra {
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.letra.loaded {
opacity: 1;
}
/*end titulo vid*/


/* Acessos rapidos */
.acessos-raidos-title{

color: #036595;
text-align: center;
margin-top: 4%;
margin-bottom: 3%;
}

.carousel-container01 {
position: relative;
margin-top: 1% !important;
width: 84%;
overflow: hidden;
margin: 0 auto;
text-align: center; /* Centra horizontalmente */
}

.carousel {
display: flex;
transition: transform 0.5s;
}

.Acesso-rapidos-img {
max-width: 100%;
border-radius: 50%; /* Hace que la imagen sea redonda */
border: 5px solid white; /* Agrega un borde blanco de 2px */
text-decoration: none;
}

.carousel div {
flex: 0 0 11%; /* Ajusta el ancho según tus necesidades */
margin-left: 3%;
margin-right: 3%;
}

.prev-button,
.next-button {

background-color: transparent;
border: none;
cursor: pointer;
font-size: 24px; /* Tamaño de fuente personalizado */
font-weight: bold;
color: #036595; /* Color personalizado */
position: absolute;
top: 50%; /* Ajusta el 60% para centrar alrededor de esa altura */
transform: translateY(-50%); /* Centra verticalmente alrededor del 60% */
margin-top: 0; /* Elimina el margen superior previo */
}

.prev-button {
left: 0;
color: aliceblue;
margin-left: 2%;

}

.next-button {
right: 0;
color: aliceblue;
margin-right: 2%;
}

.conteiner-botton-ar {
background-color: aliceblue;
display: flex;
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
}
.ca{
position: relative;
width: 100%;
overflow: hidden;
margin: 0 auto;
text-align: center;
background-color: #0074b1;
}



@media (max-width: 768px) {
.Acesso-rapidos-img {
width: 50%; /* Ancho del 100% en pantallas más pequeñas */
height: auto;
}
.carousel div {
flex: 0 0 40%; /* Ajusta el ancho según tus necesidades */
margin: 0 5%;
}
.carousel-container01{
margin-top: 2%;
}
}
/* Final Acessos rapidos */

/* noticias */

p{
    color: #000000;
}
.titulo-not{
color: #036595; 
text-align: center;
margin-top: 1%;
margin-bottom: 2%;
}

/*final noticias*/