/* Estilos para el nav y el footer*/

/* Estilos basicos nav*/


 /* rescatar solo h1*/
  /* ----------------------------------------------------------------
        TYPOGRAPHY HEADING STYLES
    -----------------------------------------------------------------*/

    h1,
    h1 a
     {
        color: #111;
        font-family: 'Raleway', sans-serif;
    	font-weight: 600;
    	line-height: 1.5;
    	margin: 0 0 10px 0;
        text-rendering: optimizelegibility;
    }

    h1 { font-size: 36px; }

    p,
    p.lead {
        color: #696f6f;
        margin-bottom: 10px;
    }

    .colorGrey {
        color: #333;
    }

    /* ----------------------------------------------------------------
        Fonts
    -----------------------------------------------------------------*/

 /* ----------------------------------------------------------------
        NAVIGATION MENU
    -----------------------------------------------------------------*/

    #mainMenuNvo {
        float: right;
        text-align: center;
    }
    #mainMenuNvo > ul {
        list-style: outside none none;
        margin-bottom: 0;
        padding-left: 0;
    }
    #mainMenuNvo > ul > li:not(.resp-active):last-child > a {
        border-bottom: 0 !important;
    }
    #mainMenuNvo > ul > li > a {
        display: block;
        padding: 15px 15px;
        position: relative;
        margin-top: 15px;
        text-decoration: none;
    }
    #mainMenuNvo > ul > li > a:hover,
    #mainMenuNvo > ul > li > a:focus {
        background-color: #eee;
        text-decoration: none;
    }


    /*labels*/

    #mainMenuNvo .label {
        font-size: 9px;
    }

    /*Menu items */

    nav .main-menu a,
    nav .main-menu .dropdown-menu a,
    nav .main-menu .dropdown-submenu > span.dropdown-menu-title-only {
        color: #000000;
    }
    #mainMenuNvo > ul > li > a {
        border-bottom: 0 none;
        border-radius: 0;
        font-size: 13px;
        /*font-size: 14px;*/
       /* font-style: italic;*/
        font-weight: 400;
       /*    height: 90px;*/
        line-height: 35px;
        margin-left: 0;
        margin-right: 0;
        outline: medium none;
        padding: 10px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out 0s;
        border-right: 1px solid #eee;
    }


    nav .main-menu li > a:hover,
    nav .main-menu li > a:focus,
    nav .main-menu .dropdown.open > a:hover,
    nav .main-menu .dropdown.open > a:focus {
        /*background: red;*/
        border-color: none !important;
    }
    nav ul.main-menu .dropdown > .dropdown-menu,
    nav ul.main-menu .dropdown-submenu > .dropdown-menu {
        visibility: hidden;
        display: block;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    nav ul.main-menu .dropdown:hover > .dropdown-menu,
    nav ul.main-menu .dropdown-submenu:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    nav.main-menu ul li i {
        padding-left: 3px;
        font-size: 14px;
        margin-right: 3px;
        text-align: center;
        width: 22px;
    }
    nav.main-menu ul li.dropdown > a > i {
        margin-right: 0px;
    }

    /* Cuadraditos desplegables*/
    /*Menu dropdown menu items */

    nav .main-menu .dropdown-menu {
        min-width: 230px;
        top: auto;
        background-color: #ffffff;
        box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
        padding: 0px;
        border-style: solid none none;
        border-width: 3px 0 0;
        border-radius: 0px;
    }
    nav .main-menu .dropdown-menu a,
    nav .main-menu .dropdown-submenu > span.dropdown-menu-title-only {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        font-weight: 400;
        height: 40px;
        padding: 10px 20px 10px 18px;
        position: relative;
        text-transform: none;
        -webkit-transition: padding .3s ease-in-out;
        transition: padding .3s ease-in-out;
    }
    nav .main-menu .dropdown-menu a:hover,
    nav .main-menu .dropdown-menu span.dropdown-menu-title-only:hover {
        background-color: rgba(211, 211, 211, 0.1) !important;
        color: #333;
       /* padding: 10px 20px 10px 26px;*/
    }
    nav .main-menu .read-more {
        border-top: 1px solid #eee;
        margin-bottom: -10px;
        margin-top: 24px;
    }
    nav .main-menu .dropdown-menu a.read-more:hover {
        background: rgba(0, 0, 0, 0) !important;
    }
    nav .main-menu .dropdown-menu .mega-menu-content .col-md-2 {
        padding-right: 1px;
    }
    nav .main-menu .dropdown-menu .mega-menu-content a {
        border-bottom: medium none;
        padding: 10px 0;
    }
    nav .main-menu .dropdown-menu i {
        margin-left: -2px;
        padding-right: 6px;
    }



    /* Mega Menu */

  
    
    /*RESPONSIVE MOBILE MENU*/


    /*CENTERED MAIN MENU*/

  


    /*Modern version*/

   

    /*Slide menu version*/
   
      /*Fullscreen Panel*/

   
    
    /* ----------------------------------------------------------------
        SLIDER
    -----------------------------------------------------------------*/

   

    /* ----------------------------------------------------------------
        BOXED SLIDER
    -----------------------------------------------------------------*/

    


    /* ----------------------------------------------------------------
        MULTISCROLL
    -----------------------------------------------------------------*/

  
    
/* ----------------------------------------------------------------
    	Logo
    -----------------------------------------------------------------*/

    #logo {
        float: left;
        font-size: 28px;
        line-height: 100%;
        position: relative;
        z-index: 1;
        margin-top: 10px;
        width: 200px;
    }

    #logo a {
        display: block;
    }

    #logo img {
        display: block;
        max-width: 120%;
    }

    #logo a.slogo {
        display: block;
    }

    .main-menu #logo {
        margin-left: 40px;
        margin-right: 40px;
    }



    /*LOGO MOBILÃ‘E*/




    /* Mega Menu */

    nav.mega-menu .nav,
    nav.mega-menu .dropup,
    nav.mega-menu .dropdown {
        position: static;
    }
    nav .main-menu li.mega-menu-item .dropdown-menu {
        left: 15px;
        right: 15px;
    }
    nav.mega-menu li.mega-menu-item .mega-menu-title {
        display: block;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        height: 50px;
        line-height: 32px;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0;
        text-transform: uppercase;
    }
    nav.mega-menu li ul {
        list-style: none;
        padding: 0;
    }
    nav.mega-menu .dropdown-menu a,
    nav.mega-menu .dropdown-submenu > span.dropdown-menu-title-only {
        text-transform: none;
        display: block;
        text-decoration: none;
    }
    nav.mega-menu .dropdown-submenu > span.dropdown-menu-title-only {
        line-height: 18px;
    }
    nav.mega-menu .dropdown-submenu > span.dropdown-menu-title-only:hover {
        cursor: pointer;
    }
    nav.mega-menu .dropdown-menu {
        left: auto;
        margin-top: 0px;
    }
    nav.mega-menu .dropdown-menu > li {
        display: block
    }
    nav.mega-menu .mega-menu-content {
        padding: 30px 40px 40px;
    }
    nav.mega-menu .mega-menu-content:before {
        display: table;
        content: "";
        line-height: 0;
    }
    nav.mega-menu .mega-menu-content:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }
    nav.mega-menu .mega-menu-content {
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    #mainMenuNvo ul li.mega-menu-item .mega-menu-title,
    #mainMenuNvo ul li.dropdown:not(.mega-menu-item) li {
        border-bottom: 1px solid #eee;
    }

    
    /* ----------------------------------------------------------------
        SIDE PANEL: DARK
    -----------------------------------------------------------------*/

    

       .mega-menu-content{
        z-index: 9999!important;/* 1000 */
       }

         .item-menu-aguas {
             transition: opacity .2s ease-in-out;
         }

     .item-menu-aguas   .img-mega-menu {
            display: block;
        max-width: 100%;
        height: auto;
        padding-bottom: 10px;
        }

      .item-menu-aguas  .menu-title {
        display: block;
        font-style: normal;
        font-weight: 800;
        margin-left: 0;
        margin-right: 0;
        color: #036595!important;
        font-size: 15px;
        border-bottom-style: solid ;
        border-bottom-width:1px;
        border-bottom-color:#eeeeee; 
        padding: 5px 0;}

        .item-menu-aguas p {
    color: rgb(105, 111, 111);
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size:11.9px;
    height:auto;
    line-height:15px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    text-align:left;
    width:auto;
        }

         .item-menu-aguas:hover{
            opacity: .8;
         }

         .h-fix-250px{
            height: 250px;
         }


    ul.lista li{
        list-style: none;
        padding-bottom: 5px;
    }

    ul.lista li::before { 
      content: ">> ";
      font-size: 20px;
      color: rgba(189,189,189,1);
    }

    p>a {
        font-weight: bold;
        color: #111;
        text-decoration: none !important;
    }

    ul.lista li>a {
        font-weight: bold;   
        border-bottom: solid 1px #dedede; 
    }


    /*Margins*/

    .col-no-margin [class^="col-"] {
        margin: 0!important;
        padding: 0 !important;
    }
    .row.col-no-margin {
        margin: 0!important;
    }
    .row.col-small-margins [class^="col-"] {
        margin: 0 0 20px 0 !important;
    }
    .no-padding-top {
        padding-top: 0 !important;
    }
    .no-padding-bottom {
        padding-bottom: 0 !important;
    }
    .no-padding {
        padding: 0 !important;
    }
    

    /*flickr widget*/

    .col-md-3 .flickr-widget img {
        padding: 2px;
        width: 25%;
    }
    body.device-xs .col-md-3 .flickr-widget img {
        width: 16.666%;
    }
    .col-md-4 .flickr-widget img {
        padding: 2px;
        width: 20%;
    }

    /* ----------------------------------------------------------------------
        DEMO GRID
    -------------------------------------------------------------------------*/

    .grid-system-demo [class*="col-"] .grid-col-demo {
        background-color: #eee;
        display: block;
        line-height: 54px;
        min-height: 54px;
        text-align: center;
    }
    .grid-system-demo .row {
        padding-bottom: 42px;
    }
    .grid-system-demo-live .row {
        padding-bottom: 42px;
    }  

/*  */
.menu-mega-main-div-c{
    max-width: 100% !important; /* El contenido no se hará más ancho que la pantalla */
    width: 100% !important;
    overflow: hidden;
}

@media (max-width: 768px) {
    .menu-mega-main-div-c {
        max-width: 100% !important; /* El contenido no se hará más ancho que la pantalla */
        width: 100% !important;
        overflow: hidden;
    }
  
  }


  /* footer */

/*  html,
body,
img,
figure {
    max-width: 100%
}

html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}*/

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    background-color: #111;
    padding-top: 70px;
    position: relative;
}

.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}

@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}

.ct-footer-pre span {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ebebeb;
    font-size: 30px
}

.ct-footer-pre .form-group {
    position: relative;
    margin: 0;
}

.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
    content: '';
    display: table
}

.ct-footer-pre .form-group:after {
    clear: both
}

.ct-footer-pre .form-group input {
    border: 1px solid #00bff3;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    margin: 0 5px;
    border-radius: 0 !important;
}

@media (min-width:480px) {
    .ct-footer-pre .form-group input {
        width: 331px
    }
}

.ct-footer-pre .form-group button {
    height: 50px;
    position: relative;
    width: 80px;
    padding: 0
}

@media (min-width:480px) {
    .ct-footer-pre .form-group button {
        top: -1px
    }
}

@media (max-width:479px) {
    .ct-footer-pre .form-group input {
        float: left;
        width: 70%;
        margin: 0
    }
    .ct-footer-pre .form-group button {
        float: left;
        width: 30%
    }
}

.ct-footer-list {
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width:479px) {
    .ct-footer-list {
        padding: 20px 0
    }
}

@media (min-width:1200px) {
    .ct-footer-list > li {
        width: 20%;
        display: table-cell;
        vertical-align: top
    }
    .ct-footer-list > li:last-child {
        width: 7%
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .ct-footer-list > li {
        width: 33.3333%
    }
}

@media (min-width:480px) and (max-width:767px) {
    .ct-footer-list > li {
        width: 50%
    }
}

@media (max-width:479px) {
    .ct-footer-list > li {
        width: 100%;
        text-align: center
    }
}

@media (max-width:1199px) {
    .ct-footer-list > li {
        display: inline-block;
        float: left
    }
}

.ct-footer-list > li .ct-footer-list-header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #00bff3;
    font-size: 30px
}

.ct-footer-list > li ul {
    list-style: none;
    padding-left: 0;
}

.ct-footer-list > li ul li a {
    color: #fff;
}

.ct-footer-list > li ul li a:hover {
    text-decoration: underline
}

.ct-footer-post {
    background: #000;
    padding: 30px 0;
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
    padding: 20px 0
}

.ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px
}

.ct-footer-post a {
    color: #fff;
}

.ct-footer-post a:hover {
    text-decoration: underline
}

.ct-footer-post p {
    color: #fff;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}

.ct-footer-meta .ct-socials li {
    padding: 0 3px
}

.ct-footer--with-button {
    padding-top: 150px
}

address {
    color: #fff;
    display: inline-block;
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    color: #111;
    font-size: 26px;
    padding: 12px 30px;
}

.btn.btn-motive {
    background-color: #00bff3;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-motive:hover {
    background-color: #00bff3;
}

.btn.btn-motive:hover:active {
    background-color: #00bff3
}



@media (max-width:479px) {
    .btn.btn-large {
        padding: 20px 10px;
        line-height: .9;
        font-size: 26px;
        letter-spacing: -.2px
    }
}
.ct-mediaSection {
    background-attachment: fixed
}

.ct-section_header--type1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 115px;
    text-transform: uppercase;
}

@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}

.ct-section_header--type2 small {
    font-family: 'coquette', fantasy;
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    left: -12px
}

.ct-section_header--type2 span {
    font-family: 'Bebas Neue';
    font-size: 115px;
    line-height: .8
}

.ct-section_header--type2 img {
    display: inline-block;
    float: left;
    position: relative;
    top: 15px;
    padding-right: 3px
}

.ct-section_header--type3 {
    text-align: center;
}

.ct-section_header--type3 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    padding: 15px 0;
    font-weight: 700;
    color: #fff;
    background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}

.ct-section_header--type3 span {
    font-family: 'Bebas Neue';
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: .85
}

@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}

.ct-section_header--type4 {
    text-align: center;
}

.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}

.ct-section_header--type4:after {
    clear: both
}

.ct-section_header--type4 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    color: inherit;
    font-weight: 700;
    display: block
}

.ct-section_header--type4 span {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    display: block;
    line-height: .7
}

@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}

.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}

.ct-section_header--type4 + p {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}

  /* final del footer */