/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px
}

.carousel-control {
    width: 8% !important;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control.left span {
    padding: 15px;
}

.carousel-control.right span {
    padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 0;
}


.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

@media (max-width: 380px) {
.header-text {
    top: 5%;
}
}


.textospecs {
    margin-top: -20px !important;
}

.header-text h2 {
    font-family: "Roboto",
        "Helvetica",
        "Arial",
        sans-serif;
    font-size: 39px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px #000000;
}

.h3pecs {
    margin-top: 0 !important;
}

.header-text h3 span {
    font-family: 'Noto Serif',
        serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0px !important;
    text-shadow: 0px 0px 5px #000000;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: #38ada2;
    border: 2px solid #fff;
    padding: 15px !important;
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    font-family: "Roboto",
        "Helvetica",
        "Arial",
        sans-serif !important;
    margin-top: 60px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}




@media (max-width: 1560px) {

    .textospecs1 {
        margin-top: -50px !important;
    }

    .textospecs2 {
        margin-top: -50px !important;
    }

    .textospecs3 {
        margin-top: -50px !important;
    }

    .textospecs4 {
        margin-top: -50px !important;
    }

    .textospecs5 {
        margin-top: -50px !important;
    }

    .btn-theme {
        margin-top: 40px;
    }
}


@media (max-width: 1500px) {

    .btn-theme {
        margin-top: 20px;
    }

}


@media (max-width: 1493px) {

    .btn-theme {
        margin-top: 0px;
    }

}


@media (max-width: 1266px) {

    .textospecs1 {
        margin-top: -75px !important;
    }

    .textospecs2 {
        margin-top: -75px !important;
    }

    .textospecs3 {
        margin-top: -75px !important;
    }

    .textospecs4 {
        margin-top: -75px !important;
    }

    .textospecs5 {
        margin-top: -75px !important;
    }

    .btn-theme {
        margin-top: -10px;
    }

}


@media (max-width: 1200px) {

    .textospecs1 {
        margin-top: -60px !important;
    }

    .textospecs2 {
        margin-top: -60px !important;
    }

    .textospecs3 {
        margin-top: -60px !important;
    }

    .textospecs4 {
        margin-top: -60px !important;
    }

    .textospecs5 {
        margin-top: -60px !important;
    }


    .header-text h2 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .header-text h3 span {
        font-size: 20px;
    }

    .btn-theme {
        padding: 10px !important;
        font-size: 12px !important;
        margin-top: 0px !important;
    }

}


@media (max-width: 1063px) {

    .textospecs1 {
        margin-top: -55px !important;
    }

    .textospecs2 {
        margin-top: -55px !important;
    }

    .textospecs3 {
        margin-top: -55px !important;
    }

    .textospecs4 {
        margin-top: -55px !important;
    }

    .textospecs5 {
        margin-top: -55px !important;
    }

}


@media (max-width: 1024px) {

    .textospecs1{
        margin-top: -40px !important;
    }

    .textospecs2 {
        margin-top: -40px !important;
    }

    .textospecs3 {
        margin-top: -40px !important;
    }

    .textospecs4 {
        margin-top: -40px !important;
    }

    .textospecs5 {
        margin-top: -40px !important;
    }

    .header-text h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }


    .header-text h3 span {
        font-size: 18px;
    }
}



@media (max-width: 980px) {

    .textospecs1 {
        margin-top: -35px !important;
    }

    .textospecs2 {
        margin-top: -35px !important;
    }

    .textospecs3 {
        margin-top: -35px !important;
    }

    .textospecs4 {
        margin-top: -35px !important;
    }

    .textospecs5 {
        margin-top: -35px !important;
    }

    .header-text h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .h3pecs {
        margin-top: -18px !important;
    }

    .header-text h3 span {
        font-size: 16px;
    }
}



@media (max-width: 915px) {

    .textospecs1 {
        margin-top: -35px !important;
    }

    .textospecs2 {
        margin-top: -35px !important;
    }

    .textospecs3 {
        margin-top: -35px !important;
    }

    .textospecs4 {
        margin-top: -35px !important;
    }

    .textospecs5 {
        margin-top: -35px !important;
    }

    .header-text h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .header-text h3 span {
        font-size: 14px;
    }
}



@media (max-width: 890px) {

    .textospecs1 {
        margin-top: -35px !important;
    }

    .textospecs2 {
        margin-top: -35px !important;
    }

    .textospecs3 {
        margin-top: -35px !important;
    }


    .textospecs4 {
        margin-top: -35px !important;
    }

    .textospecs5 {
        margin-top: -35px !important;
    }

    .header-text h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .header-text h3 span {
        font-size: 14px;
    }
}



/***Faltan resoluciones*****/

@media (max-width: 768px) {

    .textospecs1 {
        margin-top: -50px !important;
    }

    .textospecs2 {
        margin-top: -45px !important;
    }

    .textospecs3 {
        margin-top: -60px !important;
    }

    .textospecs4 {
        margin-top: -50px !important;
    }

    .textospecs5 {
        margin-top: -58px !important;
    }


    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -25px !important;
    }
}

@media (max-width: 550px) {

    .textospecs1 {
        margin-top: 10px !important;
    }

    .textospecs2 {
        margin-top: 10px !important;
    }

    .textospecs3 {
        margin-top: 10px !important;
    }

    .textospecs4 {
        margin-top: 10px !important;
    }

    .textospecs5 {
        margin-top: 10px !important;
    }

    .header-text h2 {
        margin-bottom: -20px !important;
    }

    .h3pecs {
        display: none;
    }

}


@media (max-width: 480px) {

    .textospecs1 {
        margin-top: -5px !important;
    }

    .textospecs2 {
        margin-top: -5px !important;
    }

    .textospecs3 {
        margin-top: -30px !important;
    }

    .textospecs4 {
        margin-top: -5px !important;
    }

    .textospecs5 {
        margin-top: -30px !important;
    }

}


@media (max-width: 430px) {

    .textospecs1 {
        margin-top: -20px !important;
    }

    .textospecs2 {
        margin-top: -20px !important;
    }

    .textospecs3 {
        margin-top: -30px !important;
    }

    .textospecs4 {
        margin-top: -20px !important;
    }

    .textospecs5 {
        margin-top: -30px !important;
    }
}

@media (max-width: 380px) {

    .textospecs1 {
        margin-top: 40px !important;
    }

    .textospecs2 {
        margin-top: 40px !important;
    }

    .textospecs3 {
        margin-top: 15px !important;
    }

    .textospecs4 {
        margin-top: 40px !important;
    }

    .textospecs5 {
        margin-top: 15px !important;
    }

}

@media (max-width: 320px) {

    .textospecs1 {
        margin-top: 0px !important;
    }

    .textospecs2 {
        margin-top: 0px !important;
    }

    .textospecs3 {
        margin-top: -15px !important;
    }

    .textospecs4 {
        margin-top: 0px !important;
    }

    .textospecs5 {
        margin-top: -15px !important;
    }

}


@media (max-width: 2024px) {

    .slider_2 {
        display: none !important;
    }
    
    .slider_3 {
        display: none !important;
    }
    
    }
    
    @media (max-width: 800px) {
    
    .slider_1 {
        display: none !important;
    }

    .slider_2 {
        display: inline !important;
    }
    
    .slider_3 {
        display: none !important;
    }
    
    }
    
    
    @media (max-width: 380px) {
    
    .slider_1 {
        display: none !important;
    }
    
    .slider_2 {
        display: none !important;
    }

    .slider_3 {
        display: inline !important;
    }
    
    }