  
  /* Estilos adicionales según tus necesidades */
  .slick-prev,
.slick-next {
    color: #ff0000; /* Cambia este valor al color deseado, en este caso, rojo (#ff0000) */
}


  .iconoimg {
    width: 30%; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 30%;
  }