/* Estilos de la pagina sustentabilidad y sostenibilidad */

.imagensusysos{
    display: flex;
    width: 500px;
    height: 300px;
  }

  .imagensusysos img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(80%);
    transition: .7s ease;
  }
  .imagensusysos img:hover{
    width: 500px;
    opacity: 1;
    filter: brightness(130%);
  }
  .contenedorsusysos{
    align-items: center;
  }

  .contenedor-susysos {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
  justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
}

.imagensusysos, .contenedor-text {
  width: 45%; /* Ancho inicial de cada contenedor */
  min-width: 200px; /* Ancho mínimo para evitar que se hagan demasiado pequeños */
  height: 200px; /* Altura de los contenedores */
  background-color: #f0f0f0; /* Color de fondo (puedes cambiarlo) */
  margin: 5px; /* Márgenes entre los contenedores */
}

@media (max-width: 768px) {
  .imagensusysos, .contenedor-text {
    width: 100%; /* En pantallas más pequeñas, ocuparán todo el ancho disponible */
  }
  .contenedor-text{
    columns: 1;
  }

}

.contenedor-text{
  
  padding: 15px;
}

.title{
  column-span: all;
  display: block;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}
.susysostitulo{
  margin-top: 6%;
  margin-bottom: 4%;
}
.contenedor-text-uno{
  columns: 2;
  column-gap: 50px;
  padding: 15px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;

}
@media only screen and (max-width: 767px) {
    
    .contenedor-text-uno{
        columns: 1;
        margin-left: 1%;
        margin-right: 1%;
        padding: 5px;
    }
    .susysostitulo h2{
        font-size: 25px;
    }
    .contenedor-susysos h4{
        font-size: 20px;
    }
    h4 strong{
        font-size: 20px;
    }
}


.title-text-uno{
  text-align: center;
}


.c-tips {
    max-width: 22%;
    margin-left: 8%; /* Ajustando el margen para dejar más espacio */
  }
  
  .c-tips h4{
  margin-right: 10%;
  }
  .c-tips img {
    max-width: 100%; /* Cambiado de 70% a 100% para adaptarse mejor en tamaños más pequeños */
  }
  
  .conteiner-div-tip {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten al ancho del contenedor */
  }
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .c-tips {
      max-width: 38%; /* Cambiamos el ancho para que se muestren dos elementos por fila */
      margin-left: 7%; /* Ajustamos el margen para dar espacio entre los elementos */
    }
    .c-tips img{
      max-width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }

  }
  .consejostitle{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
